@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .toggle-checkbox:checked {
        right: 0;
        border-color: #136dec;
    }

    .toggle-checkbox:checked+.toggle-label {
        background-color: #136dec;
    }
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.manuscript-paper {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.error-underline {
    text-decoration: underline wavy #ef4444;
}

.warning-underline {
    text-decoration: underline wavy #f59e0b;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 10px;
}